<h1 class="header"> La page utilisateur </h1>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Profil ID </li>
    <li class="list-group-item">Nom</li>
    <li class="list-group-item">Prenom</li>
    <li class="list-group-item">Description</li>
    <li class="list-group-item">Email</li>
    <li class="list-group-item">Age</li>
    <li class="list-group-item">Ville</li>
  </ul>
  <div class="card-footer">
    Card footer
  </div>
</div>