
<h1>La team </h1>
<p>  L'équipe de développement est dirigée dans un but commun : atteindre l'objectif du sprint (sprint goal). ... – Pour finir, elle doit assurer la livraison d'un incrément (c'est à dire une partie du produit final) à la fin de chaque sprint. Il est présenté au client lors de la revue de sprint (sprint review)</p>